body{
    background-color:#c7eeff;
}

.content{
    margin-bottom: 90px !important;
}

.item-card{
    margin-bottom: 50px !important;
}

.linkref{
    font-style: italic;
    color: rgb(74, 74, 74);
}