body{
    background-color:#00405c;
}

.content{
    margin-bottom: 90px !important;
}

.item-card{
    margin-bottom: 50px !important;
}

.linkref{
    font-style: italic;
    color: rgb(217, 217, 217);
}